.hero__container {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    scroll-snap-stop: always;
    z-index: 6000;
}

.hero-title {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: clamp(3rem, 3.5rem, 4rem);
    margin-left: 8px;
    margin-bottom: 0px;
    /* text-shadow: .5px .5px white; */
    text-shadow: 4px 4px 32px rgba(0,0,0,0.58);
    position: relative;
    top: 0;
    margin-top: 0px;
    align-self: flex-start;
}

.hero-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.58);
    border-radius: 5px;
    border: 1px solid #53A2BE;
    width: clamp(300px, 55%, 400px);
    height: clamp(200px, 45%, 400px);
    backdrop-filter: blur( .7px );
    -webkit-backdrop-filter: blur( .7px );
    /* box-shadow: 2px 8px 32px 2px rgba( 233, 236, 245, 0.22 ); */
}

.hero-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-icon {
    color: white;
    font-size: 3em;
}