/* NAVBAR */
.nav__container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
}

.nav-scroll {
    /* background: rgba(255, 255, 255, 0.2); */
    /* box-shadow: 0 8px 32px 0 rgba( 153, 204, 234, 0.22 ); */
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.nav-title {
    margin: 8px;
    user-select: none;
    width: 100%;
    height: 100%;
}

.nav-title h1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: clamp(1rem, 2rem, 2.5rem);
    opacity: 1;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.nav-menu-item {
    margin-right: 8px;
    color: white;
    cursor: pointer;
}

.nav-menu-item:active {
    text-decoration: underline;
}

/* MENU */
.menu__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
    z-index: 1;
    height: 60px;
    width: 50px;
}

.menu-icon {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.menu-text {
    color: white;
    margin: 0px;
}
